

.box {
  padding: 30px 10px;

  background: white;
  border-radius: 10px;
  margin-bottom: 30px;

}
h1{
  color: #fff7fa;
}

.register-wrapper{
  background-image: linear-gradient(180deg, #0f0c29, #302b63, #24243e);
  height: 100%;
  padding-bottom: 50px;

}
 .registerform {
  min-width: 100%;
 max-width: 400px;
  width: 100%;
  height: 100%;
}

.register-wrapper .input-field{
  width: 100%;
}

.register-wrapper mat-card-header {
  text-align: center;
  display: block;
  font-weight: 700;
  color: black;
  padding: 20px 0px;
  margin-bottom: 20px;
}

.register-wrapper mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}

.register-wrapper .mat-card {
  padding: 20px 30px 30px;
}

.register-wrapper .mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: #fff7fa;
}

mat-form-field{
  margin: 5px 0px;
}

.btn-block{
  margin-top: 10px;

  width: 100%;
}


mat-card-header{
background-color:   white;
}


.sign {
  padding-top: 30px;
  text-align: center;
}
.sign a {
  color: #3196e2;
  text-decoration: none;
}
